In [1]:
#Import Python Libraries
import nltk as nl
import gensim as gen

In [1]:
#Import Python Libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [2]:
#Read csv file
df = pd.read_csv("toxity_per_attribute_reduced.csv")

In [3]:
df.head(1)

,Wiki_ID,TOXICITY,transgender,trans,male,female,nonbinary,african,african american,black,...,young,younger,teenage,millenial,middle aged,elderly,blind,deaf,paralyzed,Unnamed: 43
0,0,0.096492,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
sample = df.sample(31037)

In [5]:
sample.to_csv('toxicity-rand.csv')

In [1]:
#Import Python Libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [2]:
#Read csv file
df = pd.read_csv("toxicity_csv/toxity_per_attribute_reduced.csv")

In [3]:
df.head(1)

,Wiki_ID,TOXICITY,transgender,trans,male,female,nonbinary,african,african american,black,...,young,younger,teenage,millenial,middle aged,elderly,blind,deaf,paralyzed,Unnamed: 43
0,0,0.096492,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [4]:
sample = df.sample(6208)

In [5]:
sample.to_csv('toxicity-rand-10.csv')

In [6]:
sample60 = df.sample(37245)

In [7]:
sample60.to_csv('toxicity-rand-60.csv')

In [8]:
#Read csv file
ds = pd.read_csv("disability-status-reduced.csv")

In [9]:
ds.head(1)

   TOXICITY  paralyzed  blind  deaf
0  0.307553        1.0    NaN   NaN

In [10]:
dsSample10 = df.sample(454)

In [11]:
dsSample10.to_csv('ds-sample-10.csv')

In [12]:
dsSample60 = df.sample(2726)

In [13]:
dsSample60.to_csv('ds-sample-60.csv')

In [14]:
dsSample10 = ds.sample(454)

In [15]:
dsSample10.to_csv('ds-sample-10.csv')

In [16]:
dsSample60 = ds.sample(2726)

In [17]:
dsSample60.to_csv('ds-sample-60.csv')

In [18]:
#Read csv file
ds = pd.read_csv("ds-paralyzed.csv")

In [19]:
ds.head(1)

   TOXICITY  paralyzed
0  0.307553          1

In [20]:
dsSample10 = ds.sample(151)

In [21]:
dsSample10.to_csv('ds-paralyzed-sample-10.csv')

In [22]:
dsSample60 = ds.sample(908)

In [23]:
dsSample60 = ds.sample(908)

In [24]:
#Read csv file
ds = pd.read_csv("ds-blind.csv")

In [25]:
ds.head(1)

   TOXICITY  blind
0  0.523489      2

In [26]:
dsSample10 = ds.sample(151)

In [27]:
dsSample10.to_csv('ds-blind-sample-10.csv')

In [28]:
dsSample60 = ds.sample(908)

In [29]:
dsSample60.to_csv('ds-blind-sample-60.csv')

In [30]:
#Read csv file
ds = pd.read_csv("ds-deaf.csv")

In [31]:
ds.head(1)

   TOXICITY  deaf
0  0.491392     3

In [32]:
dsSample10 = ds.sample(151)

In [33]:
dsSample10.to_csv('ds-blind-sample-10.csv')

In [34]:
dsSample10.to_csv('ds-deaf-sample-10.csv')

In [35]:
dsSample60 = ds.sample(908)

In [36]:
dsSample60.to_csv('ds-deaf-sample-60.csv')